html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

nav {
    color: rgb(243, 244, 248);
    display: block;
    background-color: rgb(35, 39, 49);
    padding: 1.5vh 0px 3vh 0px;
    text-decoration: none;
}
.top {
    display: flex;
}
.menu {
    flex: 80%;
}
.menu > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.menu > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.menu > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 50px;
    font-size: 18px;
}
.menu >li:hover {
    color: rgb(255, 82, 116);
}

.login {
    flex: 20%;
}
.login > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.login > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.login > li {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 50px;
    font-size: 18px;
}
.login >li:hover {
    color: rgb(255, 82, 116);
}

main {
    font-size: 20px;
}

.main_content {
    margin: 10vh 0vw 10vh 4vw;
    padding: 0vh 8vw 0vh 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:75vw;
    align-items: center;
}
.main_content > img {
    max-width: 37.5vw;
}
.text {
    text-align: center;
    text-align: top;
}
.text > div{
    text-align: left;
}

.get_started {
    display: flex;
    margin: 10vh 0vw 10vh 4vw;
    padding: 0vh 8vw 0vh 8vw;
    width:75vw;
}

.get_started >img {
    max-width: 45vw
}

.btn {
    padding: 15px 40px;
    font-size: 2vh;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;

    color:rgb(255, 82, 116);

}
.btn:hover {
    background-color: rgb(255, 82, 116);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}

footer {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    padding: 2vw;
    color: rgb(243, 244, 248);
    background-color: rgb(35, 39, 49);
}


/*
main_color = rgb(243, 244, 248)
secondary_color = rgb(35, 39, 49)
secondary_option1 = rgb(61, 67, 81)
secondary_option2 = rgb(73, 80, 97)
action_color = rgb(255, 82, 116)
*/