html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

nav {
    color: rgb(243, 244, 248);
    display: block;
    background-color: rgb(35, 39, 49);
    padding: 1.5vh 0px 3vh 0px;
    text-decoration: none;
}
.top {
    display: flex;
}
.menu {
    flex: 80%;
}
.menu > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.menu > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.menu > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 50px;
    font-size: 18px;
}
.menu >li:hover {
    color: rgb(255, 82, 116);
}

.login {
    flex: 20%;

}
.login > button {
    background-color: transparent;
    border: none;
    border-width: 0;
    margin: 0;
    padding-left: 50px;
    color:rgb(243, 244, 248);
    font-size: 18px;
}
.login > button:hover {
    color: rgb(255, 82, 116);
}

.login >li:hover {
    color: rgb(255, 82, 116);
}




.login_container {
    display: none;
    width: 25vw;
    height: 40vh;
    position: absolute;
    background-color: rgb(243, 244, 248);
    margin-left: 37.5vw;
    margin-top: 30vh;
    z-index: 5;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 12px 12px 20px 12px rgba(0, 0, 0, 0.19);
}
.signup_container {
    display: none;
    width: 25vw;
    height: 40vh;
    position: absolute;
    background-color: rgb(243, 244, 248);
    margin-left: 37.5vw;
    margin-top: 30vh;
    z-index: 5;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 12px 12px 20px 12px rgba(0, 0, 0, 0.19);
}
.login_form {

    text-align: center;
    padding: 20px;
    padding-top: 5vh;
}
.confirm{
    padding: 5px 15px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;

    color:rgb(48, 212, 70);
}
.confirm:hover{
    background-color: rgb(48, 212, 70);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}
.cancel{
    padding: 5px 15px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 30px;
    color:rgb(255, 82, 116);
}
.cancel:hover {
    background-color: rgb(255, 82, 116);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}

main {
    font-size: 20px;
}

.main_content {
    margin: 10vh 0vw 10vh 4vw;
    padding: 0vh 8vw 0vh 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:75vw;
    align-items: center;
}
.main_content > img {
    max-width: 37.5vw;
}
.text {
    text-align: center;
    text-align: top;
}
.text > div{
    text-align: left;
}

.get_started {
    display: flex;
    margin: 10vh 0vw 10vh 4vw;
    padding: 0vh 8vw 0vh 8vw;
    width:75vw;
}

.get_started >img {
    max-width: 45vw
}

.btn {
    padding: 15px 40px;
    font-size: 2vh;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;

    color:rgb(255, 82, 116);

}
.btn:hover {
    background-color: rgb(255, 82, 116);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}

@media only screen and (max-width: 800px) {
    .menu{
        flex: 70%;
    }
    .menu > li {
        padding-right: 20px;
    }
    .login{
        flex: 30%;
    }
    .login > button {
        padding-left: 0px;
    }
    .login > ul {
        padding-inline-start: 0px;
    }
    .login_container, .signup_container {
        width: 50vw;
        height: 60vh;
        margin-left: 25vw;
        margin-top: 20vh;
    }   
}

footer {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    padding: 2vw;
    color: rgb(243, 244, 248);
    background-color: rgb(35, 39, 49);
}


/*
main_color = rgb(243, 244, 248)
secondary_color = rgb(35, 39, 49)
secondary_option1 = rgb(61, 67, 81)
secondary_option2 = rgb(73, 80, 97)
action_color = rgb(255, 82, 116)
*/