html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

nav {
    color: rgb(243, 244, 248);
    display: block;
    background-color: rgb(35, 39, 49);
    padding: 1.5vh 0px 3vh 0px;
    text-decoration: none;
}
.top {
    display: flex;
}
.menu {
    flex: 80%;
}
.menu > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.menu > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.menu > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 50px;
    font-size: 18px;
}
.menu >li:hover {
    color: rgb(255, 82, 116);
}

.login {
    flex: 20%;
}
.login > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.login > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.login > li {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 50px;
    font-size: 18px;
}
.login >li:hover {
    color: rgb(255, 82, 116);
}

main {
    font-size: 20px;
}
.main_content {
    margin: 10vh 0vw 10vh 4vw;
    padding: 0vh 8vw 0vh 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:75vw;
    align-items: center;
}
.main_content > img {
    max-width: 37.5vw;
}
.text {
    text-align: center;
    text-align: top;
}
.text > div{
    text-align: left;
}


.showcase {
    display: flex;
    position: relative;
    width: 40vw;
    height: 40vw;
    overflow: hidden;

}
.slides {
    display: none;
}

.animation {
    animation-name: animation;
    animation-duration: 1.5s;
}
.showcase > img {
    display: block;
}

@keyframes animation{
    from {opacity: .4}
    to {opacity: 1}  
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(35, 39, 49);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:rgb(255, 82, 116)
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
  
.active, .dot:hover {
    background-color: rgb(255, 82, 116);
}
.dot_container {
    text-align:center;
}


footer {
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 2vw 0 2vw 2vw;
    color: rgb(243, 244, 248);
    background-color: rgb(35, 39, 49);
}
