html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

nav {
    color: rgb(243, 244, 248);
    display: block;
    background-color: rgb(35, 39, 49);
    padding: 1.5vh 0px 3vh 0px;
    text-decoration: none;
}
.top {
    display: flex;
}
.menu {
    flex: 80%;
}
.menu > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.menu > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.menu > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 50px;
    font-size: 18px;
}
.menu >li:hover {
    color: rgb(255, 82, 116);
}

.login {
    flex: 20%;
}
.login > li > a {
    text-decoration: none;
    color: rgb(243, 244, 248);
}
.login > li > a:hover {
    text-decoration: none;
    color: rgb(255, 82, 116);
}
.login > li {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 50px;
    font-size: 18px;
}
.login >li:hover {
    color: rgb(255, 82, 116);
}

main {
    font-size: 20px;
}
.popup {
    display: flex;
    display: block;
    width: 25vw;
    height: 25vh;
    position: fixed;
    background-color: rgb(243, 244, 248);
    margin-left: 37.5vw;
    margin-top: 30vh;

    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 12px 12px 20px 12px rgba(0, 0, 0, 0.19);

}
.btn {
    margin-left: 40%;
    padding: 5px 10px;
    font-size: 18px; 
    border: solid 2px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    color:rgb(255, 82, 116);
    text-align: center;
}
.btn:hover {
    background-color: rgb(255, 82, 116);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}
@media screen and (max-width: 960px)  {
    .btn {margin-left: 30%;}
}

.form_and_button{
    overflow: auto;
    padding: 5px 0px 0px 5px;
    font-family: "Times New Roman", Times, serif;
    margin: 10vh 0vw 10vh 25vw;
    width: 50vw;
    align-self: center;
    background-color: rgb(61, 67, 81);
    color :rgb(243, 244, 248);
    height: 60vh;
}
.select {
    margin-left: 10px;
    background-color: rgba(61, 67, 81, 0.8);
    color:rgb(243, 244, 248);
    border-color: rgba(255, 82, 116, 0.6);
}
.select > option:hover {
    background-color: rgba(255, 82, 116, 0.8);
}
.chipset {
    display: flex;
}
.button_container{
    margin-left: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;

}


.intel_button, .amd_button {
    background-color: rgb(61, 67, 81);
    color:rgb(243, 244, 248);
    border-radius: 5px;
    font-size: 18px;
}
.intel_button{
    background-color:rgba(255, 82, 116, 0.8);
}

.intel{
    display: block;
}
.amd{
    display: none;
}
.cpu {
    display: flex;
}

.img_radio {
    opacity: 0;
    width: 0;
    height: 0;
}
.img_radio + img {
    max-height: 15vh;
    cursor: pointer;
}
.img_radio:checked + img {
    outline: 2px solid rgb(255, 82, 116);
}
.confirm{
    padding: 5px 15px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    color:rgb(255, 82, 116);
    background-color: rgb(35, 39, 49);
}
.confirm:hover{
    background-color: rgba(255, 82, 116, 0.8);
    color:rgb(243, 244, 248);
    transition: 0.3s;
}

footer {
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 2vw 0 2vw 2vw;
    color: rgb(243, 244, 248);
    background-color: rgb(35, 39, 49);
}
